<section class="programs__sort">
  <p class="programs__sort-title">条件で絞り込む</p>
  <div class="programs__sort-items">
    <ul>
      <p>放送局</p>
      <% stations.each do |station| %>
        <li><%= link_to station.name, sort_path(station.name) %></li>
      <% end %>
    </ul>
    <ul>
      <p>パーソナリティ</p>
      <% personalities.each do |personality| %>
        <li><%= link_to personality.occupation, sort_path(personality.occupation) %></li>
      <% end %>
    </ul>
    <ul>
      <p>曜日</p>
      <% program_days.each do |program_day| %>
        <li><%= link_to sort_day(program_day.day), sort_path(program_day.day) %></li>
      <% end %>
    </ul>
  </div>
</section>
