<div class="programs__wrapper">
  <div class="programs__container">
    <% @programs.each do |program| %>
      <div class="program__wrapper">
        <div class="program__container">
          <h1><span>◆<%= program.name %></span></h1>
          <%= render 'main', program: program %>
          <%= render 'corner', program: program %>
          <%= render 'song', program: program %>
        </div>
      </div>
    <% end %>
  </div>
</div>
