@import "../mixins/common-mixins";

.program {
  &__wrapper {
    background-color: $white;
    border-radius: 60px;
    padding: 45px 60px;

    &:not(:first-of-type) {
      margin-top: 60px;
    }
  }

  &__container {
    h1 {
      text-align: center;
      margin: 0;

      span {
        padding-bottom: 6px;
        border-bottom: double 6px $under-program-title-border;
      }
    }

    h4 {
      margin: 30px 0 0;
    }

    p {
      margin: 20px 0;
      padding: 0;

      span {
        font-weight: bold;
      }
    }
  }

  &__main-information {
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    margin-top: 15px;

    &:after {
      position: absolute;
      content: '';
      right: -7px;
      top: -7px;
      border-width: 0 15px 15px 0;
      border-style: solid;
      border-color: #ffdb88 #fff #ffdb88;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    }
  }

  &__corner-information {
    margin: 45px 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;

    &::before, &::after {
      content: '';
      position: absolute;
      width:10px;
      height: 10px;
      border: solid 2px #ffcb8a;
      border-radius: 50%;
    }

    &::before {
      bottom:-12px;
      right:-12px;
    }

    &::after {
      top:-12px;
      left:-12px;
    }
  }

  &__song-information {
    margin-top: 24px;

    p {
      margin: 5px 0 0;
    }
  }
}
