@import "../mixins/common-mixins";

.program {
  &__wrapper {
    background-color: $white;
    border-radius: 60px;
    padding: 45px 60px;

    &:not(:first-of-type) {
      margin-top: 60px;
    }
  }

  &__container {
    h4 {
      margin: 30px 0 0;
    }
  }

  &__main-information {
    text-align: center;
    h1 {
      margin: 0;

      span {
        padding-bottom: 6px;
        border-bottom: double 6px $under-program-title-border;
      }
    }
  }

  &__corner-information {
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    margin-top: 15px;

    &:after {
      position: absolute;
      content: '';
      right: -7px;
      top: -7px;
      border-width: 0 15px 15px 0;
      border-style: solid;
      border-color: #ffdb88 #fff #ffdb88;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    }

    p {
      margin: 20px 0;
      padding: 0;

      span {
        font-weight: bold;
      }
    }
  }

  &__song-information {
    margin-top: 24px;

    p {
      margin: 5px 0 0;
    }
  }
}
