body {
  background: url(/assets/programs/background.jpg) no-repeat center center fixed #C0C0C0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
